<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
        <js href="__JS__/jquery.min.js"/>
        <js href="__LAYER__/layer.js"/>
        <script type="text/javascript">
            layer.msg('好开心啊',{icon:6,time:1000});
//            layer.msg('不开心',{icon:5});
        </script>
    </body>
</html>
