<extend name='Layout:common'/>
<block name='css'>
    <css href='__CSS__/address.css'/>
    <css href='__CSS__/home.css'/>
</block>
<block name='js'>
    <js href="__JS__/home.js"/>
    <script type='text/javascript'>
        $(function () {
            $('.province_id').change(function () {
                //获取省份
                $('#province_name').val($(this).find(':selected').text());
                var province_id = $(this).val();
                //ajax请求获取市级列表
                var url = '{:U("Address/getLoctionsByParentId")}';
                var data = {
                    parent_id: province_id,
                };
                $.getJSON(url, data, function (city_list) {
                    //展示市级菜单
                    var html = '';
                    //保留“请选择”，清空其它的市级菜单
                    $('.city_id').get(0).length = 1;
                    //为了避免切换省份的时候区县仍有数据，我们清空
                    $('.area_id').get(0).length = 1;
                    $('#city_name').val('');
                    $('#area_name').val('');
                    $(city_list).each(function (i, n) {
                        html += '<option value="' + n.id + '">' + n.name + '</option>';
                    });
                    $(html).appendTo($('.city_id'));
                });
                //获取市级菜单结束
            });

            $('.city_id').change(function () {
                //获取省份
                var city_id = $(this).val();
                $('#city_name').val($(this).find(':selected').text());
                //ajax请求获取市级列表
                var url = '{:U("Address/getLoctionsByParentId")}';
                var data = {
                    parent_id: city_id,
                };
                $.getJSON(url, data, function (city_list) {
                    //展示县级菜单
                    var html = '';
                    //保留“请选择”，清空其它的县级菜单
                    $('.area_id').get(0).length = 1;
                    $('#area_name').val('');
                    $(city_list).each(function (i, n) {
                        html += '<option value="' + n.id + '">' + n.name + '</option>';
                    });
                    $(html).appendTo($('.area_id'));
                });
                //获取县级菜单结束
            });
            $('.area_id').change(function(){
                $('#area_name').val($(this).find(':selected').text());
            });
            
            
            
            
            
            
            
            
            
            
            //===================性感的分割线=====================
            //回显数据
            $(':input[name=is_default]').val([{$row.is_default}]);
            //ajax请求获取市级列表
            var url = '{:U("Address/getLoctionsByParentId")}';
            var data = {
                parent_id: '{$row.province_id}',
            };
            $.getJSON(url, data, function (city_list) {
                //展示市级菜单
                var html = '';
                //保留“请选择”，清空其它的市级菜单
                $('.city_id').get(0).length = 1;
                //为了避免切换省份的时候区县仍有数据，我们清空
                $('.area_id').get(0).length = 1;
                $(city_list).each(function (i, n) {
                    html += '<option value="' + n.id + '">' + n.name + '</option>';
                });
                $(html).appendTo($('.city_id'));
                $('.city_id').val('{$row.city_id}');
                
                
                //===============回显区县===================
                //ajax请求获取市级列表
                var data = {
                    parent_id: '{$row.city_id}',
                };
                $.getJSON(url, data, function (area_list) {
                    //展示市级菜单
                    var html = '';
                    //保留“请选择”，清空其它的市级菜单
                    $('.area_id').get(0).length = 1;
                    $(area_list).each(function (i, n) {
                        html += '<option value="' + n.id + '">' + n.name + '</option>';
                    });
                    $(html).appendTo($('.area_id'));
                    $('.area_id').val('{$row.area_id}');
                });
                //获取区县菜单结束
            });
            //获取市级菜单结束
        });
    </script>
</block>
<block name="main">
    <!-- 页面主体 start -->
    <div class="main w1210 bc mt10">
        <div class="crumb w1210">
            <h2><strong>我的XX </strong><span>> 我的订单</span></h2>
        </div>

        <!-- 左侧导航菜单 start -->
        <div class="menu fl">
            <h3>我的XX</h3>
            <div class="menu_wrap">
                <dl>
                    <dt>订单中心 <b></b></dt>
                    <dd><b>.</b><a href="">我的订单</a></dd>
                    <dd><b>.</b><a href="">我的关注</a></dd>
                    <dd><b>.</b><a href="">浏览历史</a></dd>
                    <dd><b>.</b><a href="">我的团购</a></dd>
                </dl>

                <dl>
                    <dt>账户中心 <b></b></dt>
                    <dd class="cur"><b>.</b><a href="">账户信息</a></dd>
                    <dd><b>.</b><a href="">账户余额</a></dd>
                    <dd><b>.</b><a href="">消费记录</a></dd>
                    <dd><b>.</b><a href="">我的积分</a></dd>
                    <dd><b>.</b><a href="">收货地址</a></dd>
                </dl>

                <dl>
                    <dt>订单中心 <b></b></dt>
                    <dd><b>.</b><a href="">返修/退换货</a></dd>
                    <dd><b>.</b><a href="">取消订单记录</a></dd>
                    <dd><b>.</b><a href="">我的投诉</a></dd>
                </dl>
            </div>
        </div>
        <!-- 左侧导航菜单 end -->

        <!-- 右侧内容区域 start -->
        <div class="content fl ml10">
            <div class="address_hd">
                <h3>收货地址薄</h3>
                <foreach name="rows" item="row">
                    <dl>
                        <dt>{$key+1}.{$row.name} {$row.province_name} {$row.city_name} {$row.area_name} {$row.detail_address} {$row.tel} </dt>
                        <dd>
                            <a href="">修改</a>
                            <a href="{:U('delete',array('id'=>$row['id']))}">删除</a>
                            <a href="">设为默认地址</a>
                        </dd>
                    </dl>
                </foreach>
            </div>

            <div class="address_bd mt10">
                <h4>编辑收货地址</h4>
                <form action="{:U('')}" name="address_form" method="post">
                    <ul>
                        <li>
                            <label for=""><span>*</span>收 货 人：</label>
                            <input type="text" name="name" class="txt" value='{$row.name}'/>
                        </li>
                        <li>
                            <label for=""><span>*</span>所在地区：</label>
                            <input type="hidden" id="province_name" name="province_name" value='{$row.province_name}'/>
                            {:arr2select($provinces,'id','name','province_id',$row['province_id'])}
                            <input type="hidden" id="city_name" name="city_name" value='{$row.city_name}'/>
                            <select name="city_id" class='city_id'>
                                <option value="">请选择</option>
                            </select>
                            <input type="hidden" id="area_name" name="area_name" value='{$row.area_name}'/>
                            <select name="area_id" class='area_id'>
                                <option value="">请选择</option>
                            </select>
                        </li>
                        <li>
                            <label for=""><span>*</span>详细地址：</label>
                            <input type="text" name="detail_address" class="txt address"  value='{$row.detail_address}' />
                        </li>
                        <li>
                            <label for=""><span>*</span>手机号码：</label>
                            <input type="text" name="tel" class="txt"  value='{$row.tel}'/>
                        </li>
                        <li>
                            <label for="">&nbsp;</label>
                            <input type="checkbox" name="is_default" value="1" class="check" />设为默认地址
                        </li>
                        <li>
                            <label for="">&nbsp;</label>
                            <input type='hidden' name='id' value='{$row.id}'/>
                            <input type="submit" name="" class="btn" value="保存" />
                        </li>
                    </ul>
                </form>
            </div>	

        </div>
        <!-- 右侧内容区域 end -->
    </div>
    <!-- 页面主体 end-->
</block>