<extend name='Layout:main'/>
<block name='css'>
    <css href='__CSS__/fillin.css'/>
</block>
<block name='js'>
    <js href='__JS__/cart2.js'/>
    <script type='text/javascript'>
        $(function () {
            $(':input[name=delivery]').click(function(){
                calc_money();
//                var delivery_price = $(this).attr('price') - 0;
//                //找到运费节点，设置为价格
//                $('#delivery_price').text('￥'+delivery_price.toFixed(2));
//                //找到总价，计算并设置总价
//                var total_price = {$total_price};
//                $('#total_price').text('￥' + (total_price+delivery_price).toFixed(2));
            });
        });
        calc_money();
        
        function calc_money(){
            //获取运费
            var delivery_price = $(':input[name=delivery]:checked').attr('price')-0;
            var total_price = {$total_price}-0;
            $('#delivery_price').text('￥'+delivery_price.toFixed(2));
            $('.total_price').text('￥' + (total_price+delivery_price).toFixed(2));
        }
        function do_submit() {
            $('form[name=frm]').submit();
        }
    </script>
</block>

<block name='main'>
    <!-- 主体部分 start -->
    <form action="{:U()}" method="post" name="frm">
        <div class="fillin w990 bc mt15">
            <div class="fillin_hd">
                <h2>填写并核对订单信息</h2>
            </div>

            <div class="fillin_bd">
                <!-- 收货人信息  start-->
                <div class="address">
                    <h3>收货人信息</h3>
                    <div class="address_info">
                        <foreach name='addresses' item='address'>
                            <p>
                                <input type="radio" value="{$address.id}" name="address_id" <eq name='address.is_default' value='1'>checked="checked"</eq>/>{$address.name}  {$address.tel}  {$address.province_name} {$address.city_name} {$address.area_name} {$address.detail_address} 
                            </p>
                        </foreach>
                    </div>

                </div>
                <!-- 收货人信息  end-->

                <!-- 配送方式 start -->
                <div class="delivery">
                    <h3>送货方式 </h3>

                    <div class="delivery_select">
                        <table>
                            <thead>
                                <tr>
                                    <th class="col1">送货方式</th>
                                    <th class="col2">运费</th>
                                    <th class="col3">运费标准</th>
                                </tr>
                            </thead>
                            <tbody>
                            <foreach name="deliveries" item="delivery">
                                <tr>	
                                    <td>
                                        <input type="radio" name="delivery" <eq name='delivery.is_default' value='1'>checked="checked"</eq> price="{$delivery.price}" value='{$delivery.id}'/>{$delivery.name}
                                    </td>
                                    <td>￥{$delivery.price}</td>
                                    <td>{$delivery.intro}</td>
                                </tr>
                            </foreach>
                            </tbody>
                        </table>
                    </div>
                </div> 
                <!-- 配送方式 end --> 

                <!-- 支付方式  start-->
                <div class="pay">
                    <h3>支付方式 </h3>
                    <div class="pay_select">
                        <table> 
                            <foreach name='payments' item='payment'>
                                <tr>
                                    <td class="col1"><input type="radio" name="pay" <eq name='payment.is_default' value='1'>checked="checked"</eq> value='{$payment.id}'/>{$payment.name}</td>
                                    <td class="col2">{$payment.intro}</td>
                                </tr>
                            </foreach>
                        </table>
                    </div>
                </div>
                <!-- 支付方式  end-->

                <!-- 发票信息 start-->
                <div class="receipt">
                    <h3>发票信息</h3>

                    <div class="receipt_select">
                        <ul>
                            <li>
                                <label for="">发票抬头：</label>
                                <input type="radio" name="type" checked="checked" class="personal" value='1'/>个人
                                <input type="radio" name="type" class="company" value='2'/>单位
                                <input type="text" name="company_name" class="txt company_input" disabled="disabled" />
                            </li>
                            <li>
                                <label for="">发票内容：</label>
                                <input type="radio" name="content" checked="checked" vaule="1"/>明细
                                <input type="radio" name="content"  vaule="2"/>办公用品
                                <input type="radio" name="content"  vaule="3"/>体育休闲
                                <input type="radio" name="content"  vaule="4"/>耗材
                            </li>
                        </ul>						
                    </div>
                </div>
                <!-- 发票信息 end-->

                <!-- 商品清单 start -->
                <div class="goods">
                    <h3>商品清单</h3>
                    <table>
                        <thead>
                            <tr>
                                <th class="col1">商品</th>
                                <th class="col3">价格</th>
                                <th class="col4">数量</th>
                                <th class="col5">小计</th>
                            </tr>	
                        </thead>
                        <tbody>
                        <foreach name="goods_list" item="goods">
                            <tr>
                                <td class="col1"><a href=""><img src="{$goods.logo}-80" alt="" /></a>  <strong><a href="">{$goods.name}</a></strong></td>
                                <td class="col3">￥{$goods.shop_price}</td>
                                <td class="col4"> {$goods.amount}</td>
                                <td class="col5"><span>￥{$goods.sub_total}</span></td>
                            </tr>
                        </foreach>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul>
                                        <li>
                                            <span>4 件商品，总商品金额：</span>
                                            <em>￥{$total_price}</em>
                                        </li>
                                        <li>
                                            <span>运费：</span>
                                            <em id="delivery_price">￥</em>
                                        </li>
                                        <li>
                                            <span>应付总额：</span>
                                            <em class="total_price">￥</em>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- 商品清单 end -->

            </div>

            <div class="fillin_ft">
                <a href="javascript:;" onclick="do_submit()"><span>提交订单</span></a>
                <p>应付总额：<strong class="total_price">￥</strong>元</p>

            </div>
        </div>
        <!-- 主体部分 end -->
    </form>
</block>